.about-me {
  height: 100vh;
  font-size: 1em;
}

.title-text {
  margin-top: 2.3em;
  color: white;
}

.change-text {
  color: rgb(23, 255, 154)

}

a {
  color: rgb(23, 255, 154)
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: rgb(115, 243, 155)
}

a:visited {
  color: rgb(115, 243, 155)

}

/*.list1 {
  left: 20em;
  bottom: 3.5em;
}

.list2 {
  left: 13em;
  bottom: 3.5em;

}

.list3 {
  left: 8em;
  bottom: 3.5em;

}

.list4 {
  left: 5em;
  bottom: 3.5em;

}*/


.head {
  background-image: url('./dgrid.png');
  background-size: contain;
  height: 19em;
}

.page-header {
    padding-bottom: 9.5px;
    margin: 42px 0 21px;

  }

.resume-img {
  padding-top: 1.5em;
}
